body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #1e1e3c;
    color: white;
}

.container {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 10px;
    margin: 0 auto;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #292959;
    border: 2px solid #ffeb3b;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #ffeb3b;
    transition: box-shadow 0.3s;
}

.cell:hover {
    box-shadow: 0 0 10px #ffeb3b, 0 0 20px #ffeb3b, 0 0 30px #ffeb3b;
    cursor: pointer;
}

#resetBtn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #ffeb3b;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #292959;
    transition: background-color 0.3s;
}

#resetBtn:hover {
    background-color: #ffdf00;
}

#text{
    padding-top: 20px;
    font-size: 1.4em;
    font-weight: 800;
}